$box-shadow-color: rgba(33, 33, 33, 0.3);

.auth-container {
  width: 500px;
  margin: 0 auto 40px auto;
  border: 1px solid $box-shadow-color;
  box-shadow: 2px 2px 10px $box-shadow-color;
  padding: 25px;
  border-radius: 5px;

  .input__container:nth-last-child(1) {
    display: inline-block;
  }

  .input__container {
    display: flex;
    flex-direction: column;

    h3 {
      font-size: 20px;
      font-weight: 300;
    }

    input {
      margin-bottom: 15px;
      padding: 5px 0;
      outline: none;
      font-size: 18px;
      border: none;
      transition: all .1s linear;
      border-bottom: 2px groove rgba(25, 155, 80, 0.3);
    }

    input::placeholder {
      color: $font-color-black;
      opacity: .3;
    }

    input:hover {
      border-bottom: 2px groove rgba(25, 155, 80, 0.5);
    }

    input:focus {
      border-bottom: 2px groove rgba(25, 155, 80, 0.8);
    }

  }
}

.custom-checkbox-label {
  font-size: 20px;
  font-weight: 300;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.custom-checkbox+label::before {
  content: '';
  display: inline-block;
  width: 0.9em;
  height: 0.9em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-checkbox:checked+label::before {
  border-color: $main-green;
  background-color: $main-green;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}



.message-warning {
  color: $main-red;
  font-size: 18px;
}

.message-success {
  color: $main-green;
  font-size: 18px;
}
