$background-color: #fffffb;
$font-color-white: #fffffb;
$font-color-black: #333;
$main-green: #199b50;
$main-yellow: #FFC300;
$main-red: #ff5733;
$box-shadow-color: rgba(33, 33, 33, 0.3);
$main-transition: all .3s ease;

@import 'components/main/landing/main';
@import 'components/header/header';
@import 'components/footer/footer';
@import 'components/main/catalog/catalog';
@import 'components/main/regAuth/reg_auth';
@import 'components/main/modals/modals';
@import 'components/main/adminPages/EditBooksPages';


* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, p {
  color: $font-color-black;
}

a {
  text-decoration: none;
}

body {
  background-color: $background-color;
  height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

h2 {
  border-bottom: 2px solid $main-green;
  font-weight: 400;
}

.submit-button {
  padding: 10px;
  border: none;
  outline: none;
  font-size: 20px;
  margin-top: 30px;
  font-family: 'Roboto', sans-serif;
  color: $font-color-white;
  background-color: $main-green;
  cursor: pointer;
  letter-spacing: 1px;
  transition: background-color .15s linear;

  &:disabled {
    background-color: #438552;
  }

  &:disabled:hover {
    cursor: default;
    background-color: #438552;
  }

  &:hover {
    background-color: #23ab38;
  }
}



@media (max-width: 1280px) {
  .container {
    width: 95%;
  }

}

@media (max-width: 1080px) {
  .landing-center h1, h2, .landing-about h1 {
    font-size: 2.2rem !important;
    letter-spacing: normal;
  }

}

@media (max-width: 770px) {
  .landing-center h1, h2, .landing-about h1 {
    font-size: 30px !important;
    letter-spacing: normal;
  }
}

@media (max-width: 350px) {
  .landing-center h1, h2, .landing-about h1 {
    font-size: 20px !important;
    letter-spacing: normal;
  }
}





