.add-elements-container {
  display: flex;
  margin: 25px 0;
  flex-wrap: wrap;

  .add-element {
    min-height: 200px;
    padding-right: 50px;
    width: 33%;
    box-sizing: border-box;
    justify-content: space-between;

    h3 {
      font-size: 24px;
      font-weight: 300;
      margin-bottom: 10px;
    }
  }

}

.add-book-container {
  display: flex;
  flex-wrap: wrap;
}

.add-book-element {
  width: 45%;
  padding-right: 5%;
  min-height: 150px;

  .data-list {
    border: none;
    padding: 4px;
    border-bottom: 2px solid $main-blue;
    outline: none;
    width: 100%;
  }

  h3 {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 10px;
  }
}

.multi-inputs-container {
  .selected-items {
    width: 100%;
    box-sizing: border-box;
  }
}

.selected-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  padding: 10px;

  background-color: $main-blue;
  color: $font-color-white;
  margin: 3px 0;
  border-radius: 10px;

  &-name {
    color: $font-color-white;
  }

  .remove-item {
    transform: scaleX(1.3);

    &:hover {
      cursor: pointer;
      color: #adb5bd;
    }
  }

}

@media (max-width: 1080px) {
  .add-elements-container {
    .add-element {
      width: 47%;
      padding-right: 20px;
    }
  }


}

@media (max-width: 700px) {
  .add-elements-container {
    .add-element {
      width: 100%;
      padding: 0;
      text-align: center;
    }
  }
  .add-book-container {
    .add-book-element {
      width: 100%;
      padding: 0;
      text-align: center;
    }
  }
}
