.add-elements-container {
  display: flex;
  margin: 25px 0;
  flex-wrap: wrap;
  border-bottom: 2px solid $main-blue;

  .add-element {
    min-height: 200px;
    padding-right: 50px;
    width: 33%;
    box-sizing: border-box;
    justify-content: space-between;

    h3 {
      font-size: 24px;
      font-weight: 300;
      margin-bottom: 10px;
    }
  }

}

.add-book-container {
  display: flex;
  flex-wrap: wrap;
}

.add-book-element {
  width: 45%;
  padding-right: 5%;
  min-height: 150px;


  .data-list {
    border: none;
    padding: 4px;
    border-bottom: 2px solid $main-blue;
    outline: none;
    width: 100%;
  }

  h3 {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 10px;
  }
}

.multi-inputs-container {
  .selected-items {
    width: 100%;
    box-sizing: border-box;
  }
}

.selected-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  padding: 10px;

  background-color: $main-blue;
  color: $font-color-white;
  margin: 3px 0;
  border-radius: 10px;

  &-name {
    color: $font-color-white;
  }

  .remove-item {
    transform: scaleX(1.3);

    &:hover {
      cursor: pointer;
      color: #adb5bd;
    }
  }

}

.m-top-bottom-20 {
  margin: 20px 0;
}

.hide-container {
  overflow: hidden;
  height: 0;
}


@media (max-width: 1080px) {
  .add-elements-container {
    .add-element {
      width: 47%;
      padding-right: 20px;
    }
  }


}

@media (max-width: 700px) {
  .add-elements-container {
    .add-element {
      width: 100%;
      padding: 0;
      text-align: center;
    }
  }
  .add-book-container {
    .add-book-element {
      width: 100%;
      padding: 0;
      text-align: center;
    }
  }
}

.edit-description {
  display: flex;
  align-items: center;
  border-bottom: 2px solid $main-green;

  h2 {
    border: none;
  }
}

.triangle-closed {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 0 6px 10px;
  border-color: transparent transparent transparent #199b4f;
  margin-right: 10px;
}

.triangle-opened {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 6px 0 6px;
  border-color: #199b4f transparent transparent transparent;
  margin-right: 10px;
}

#upload-node {
  display: none;
}

.dropZone {
  text-align: center;
  width: 100%;
  height: 150px;
  padding-top: 20px;
  border: 5px dashed #bababa;
  transition: $main-transition;

  .drop-arrow {
    width: 50px;
    height: 80px;
    margin: 0 auto;
    animation: arrow-animation ease 1.7s infinite;

    img {
      width: 100%;
      height: 100%;
    }
  }

  p {
    font-weight: 500;
    font-size: 32px;
    color: #bababa;
  }
}

.border-drop {
  border: 5px dashed $main-green;
  opacity: .7;

  p {
    font-weight: 500;
    font-size: 32px;
    color: $main-green;
    opacity: .7;
  }
}

@keyframes arrow-animation {
  10% {
    transform: translateY(-15px);

  }
  40% {
    transform: translateY(0) scaleX(1.2) scaleY(0.8);
  }
  90% {
    transform: translateY(-15px);
  }
}




