.UserInfoWindow {
  position: fixed;
  padding: 20px;
  width: 250px;
  //transform: translateX(-50%);
  top: 50px;
  right: calc(20% - 150px);
  margin-top: 10px;
  background-color: $background-color;
  border: 1px solid #ccc;
  z-index: 100;

  p {
    font-size: 22px;
    border-bottom: 2px solid $main-green;
  }

  h3 {
    font-weight: 300;
  }

  span {
    color: $main-green;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.input__container {
  display: flex;
  flex-direction: column;

  p {
    font-size: 20px;
    font-weight: 300;
  }

  input {
    margin-bottom: 15px;
    padding: 5px 0;
    outline: none;
    font-size: 18px;
    border: none;
    transition: all .1s linear;
    border-bottom: 2px groove rgba(25, 155, 80, 0.3);
  }

  input::placeholder {
    color: $font-color-black;
    opacity: .3;
  }

  input:hover {
    border-bottom: 2px groove rgba(25, 155, 80, 0.5);
  }

  input:focus {
    border-bottom: 2px groove rgba(25, 155, 80, 0.8);
  }

}

.auth-button {
  width: 100%;
  margin: 0;
}

.modalWrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
