$border: 1px solid #ccc;

.books {
  display: grid;
  grid-column-gap: 30px;
  grid-template-columns: 250px 1fr;
  grid-template-areas: "filter books";

  .filter-container {
    grid-area: filter;
    padding: 0 15px;
   // border: 2px solid #b1aea8;

    h2 {
      font-size: 22px;
      font-weight: 400;
      padding: 25px 0 10px 0;

      &:nth-child(1) {
        padding: 3px 0;
        font-size: 24px;
        border-bottom: 2px solid $main-green;
      }
    }

    select {
      padding: 5px;
      font-size: 18px;
      width: 100%;
    }
    button {
      width: 100%;
    }

  }

  .books-container {
    padding: 0 15px;
    grid-area: books;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

  }

}

.price-container {
  display: flex;
  width: 100%;

  .price-filter {
    flex: 1;
    width: 30%;
    padding: 5px;
    font-size: 18px;
  }
}

.book {
  height: 430px;

  flex-basis: 270px;
  padding: 15px;
  margin-bottom: 15px;
  position: relative;
  text-align: right;
  transition: $main-transition;
  border: $border;
  box-shadow: 1px 1px 8px $box-shadow-color;

  .more-info {
    display: none;
    overflow: hidden;
  }

  .image-container {
    width: 252px;
    height: 336px;
    margin: 0 auto;

    img {
      width: 100%;
      height: 100%;
      background-size: contain;
    }
  }

  .book-info {
    margin-top: 15px;


    h3 {
      font-size: 22px;
    }

    .book-price {
      font-size: 26px !important;
      font-weight: 500 !important;

      &:after {
        content: ' ₽';
      }
    }

  }

  &:hover {
    width: 400px;

    .more-info {
      top: -15px;
      left: -15px;
      z-index: 20;
      position: absolute;
      width: 150%;
      height: 150%;
      transform: translateX(-20%);
      background-color: $background-color;
      display: block;
      border: $border;
      box-shadow: 2px 2px 20px $box-shadow-color;
      text-align: left;

      .image-container {
        width: 327px;
        height: 436px;
        margin: 15px;
      }

      .description {
        margin-top: 8px;
        display: flex;
        align-items: center;

        .bucket-button {
          margin: 0 20px;
        }

        h4 {
          font-weight: 400;
          font-size: 18px;
          opacity: .7;

          &:after {
            content: ' ';
          }
        }

        p {
          font-weight: 400;
          font-size: 18px;
        }
      }

      .book-info {
        margin: 15px;
      }
    }
  }
}
