header {
  width: 100%;
  background-color: $main-green;
  position: fixed;
  z-index: 10;
  opacity: .97;
  //flex: 0 0 auto;


  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
  }

  .header-navigation {
    display: flex;
    align-items: center;
  }
}

.logo {
  background-image: url("../../images/landing/book.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 35px;
  width: 35px;
  position: relative;
  margin-right: 1rem;
  margin-top: .4rem;
}

.basket {
  background-image: url("../../images/shopping-basket.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  position: relative;
  padding: 0 14px;
  position: relative;

  span {
    background-color: $main-red;
    position: absolute;
    right: 0;
    bottom: -5px;
    color: $font-color-white;
    display: block;
    padding: 2px 5px;
    border-radius: 10px;
    text-align: center;
  }

  &:hover {
    cursor: pointer;
  }
}

nav {
  a {
    @extend %nav-links;
  }

  a:hover {
    @extend %nav-links-hover;
  }

}

.user-actions {
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    @extend %nav-links;
  }

  a:hover {
    @extend %nav-links-hover;
  }
}

%nav-links-hover {
  color: $font-color-black;
  background-color: $font-color-white;
}

%nav-links {
  font-family: 'Raleway', sans-serif;
  display: inline-block;
  padding: 10px;
  font-size: 20px;
  color: $font-color-white;
  text-align: center;
  transition: $main-transition;

  //:active {
  //  color: $font-color-black;
  //  background-color: $font-color-white;
  //}
}
